{% extends "portfolio/layout.html" %}

{% block body %}
    <h1 class="my-2 mx-3 text-center fade-in">Home</h1>
    <br>

    <div class="card my-2 mx-3 fade-in">
      <h3 class="card-header text-center">Welcome</h3>
      <div class="card-body">
        <h5 class="card-title">An Introduction</h5>
        <p class="card-text">{{ welcome_text }}</p>
      </div>
    </div>
    <br>

    <div class="card my-2 mx-3 fade-in">
      <h3 class="card-header text-center">Professional Details</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>

    <div class="card my-2 mx-3 fade-in">
      <h3 class="card-header text-center">Personal Interests</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>

    <div class="card my-2 mx-3 fade-in">
      <h3 class="card-header text-center">Project: Stock Application</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>

    <div class="card my-2 mx-3 fade-in">
      <h3 class="card-header text-center">Project: Wordle Game</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <br>
{% endblock %}
