{% extends "portfolio/layout.html" %}
{% load static %}

{% block body %}
    <style>
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding: 20px;
    }
    .gallery img {
      width: 350px;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.2s ease-in-out;
    }
    .gallery img:hover {
      transform: scale(1.1);
    }
    </style>

    <div class="fade-in">
        <h1 class="my-2 mx-3 text-center">Personal Interests</h1>

        <div class="d-flex justify-content-center">
            <div class="card my-2 mx-3" style="max-width: 750px;">
              <div class="card-body">
                Here are some photos chosen by Avi to show off his interests and hobbies.
              </div>
            </div>
        </div>

        <div class="gallery">
            <img src="{% static 'portfolio/images/hobby_01.png' %}" alt="{% static 'portfolio/images/not_found.png'">
            <img src="{% static 'portfolio/images/hobby_02.png' %}" alt="{% static 'portfolio/images/not_found.png'">
            <img src="{% static 'portfolio/images/hobby_06.png' %}" alt="{% static 'portfolio/images/not_found.png'">
            <img src="{% static 'portfolio/images/hobby_10.png' %}" alt="{% static 'portfolio/images/not_found.png'">
            <img src="{% static 'portfolio/images/hobby_04.png' %}" alt="{% static 'portfolio/images/not_found.png'">
            <img src="{% static 'portfolio/images/hobby_07.png' %}" alt="{% static 'portfolio/images/not_found.png'">
        </div>
    </div>

{% endblock %}