{% extends "portfolio/layout.html" %}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Live Price</title>
    </head>
    <body>

        {% if message is None %}
            <h1 class="my-2 mx-3 text-center fade-in">Price for {{ ticker }}</h1>
        {% else %}
            <h1 class="my-2 mx-3 text-center fade-in">Error</h1>
        {% endif %}


        <div>
            {% if message is None %}
                <h2 class="my-2 mx-3 text-center fade-in">Latest Price: ${{ last_price|floatformat:2 }}</h2>
                <div class="my-2 mx-3 text-center fade-in", id="stockGraph">
                    {{ graph_div|safe }}
                </div>
            {% else %}
                <p class="my-2 mx-3 text-center fade-in" style="font-size: 20px;">{{ message }}</p>
            {% endif %}
        </div>

        <div class="my-2 mx-3 text-center fade-in">
            <a class="btn btn-primary" href="{% url 'take_in_stock_price' %}">Back to search page</a>
        </div>

    </body>
    </html>
{% endblock %}