{% extends "portfolio/layout.html" %}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Stock Price</title>
    </head>
    <body>

        {% if message is None %}
            <h1 class="my-2 mx-3">Stock Price for {{ ticker }}</h1>
        {% else %}
            <h1 class="my-2 mx-3">Error</h1>
        {% endif %}


        <div>
            {% if message is None %}
                <p class="my-2 mx-3" style="font-size: 20px;">Last Price: ${{ last_price|floatformat:2 }}</p>
                <div id="stockGraph">
                    {{ graph_div|safe }}
                </div>
            {% else %}
                <p class="my-2 mx-3" style="font-size: 20px;">{{ message }}</p>
            {% endif %}
        </div>

        <div>
            <a class="btn btn-primary my-2 mx-3" href="{% url 'take_in_stock_price' %}">Back</a>
        </div>

    </body>
    </html>
{% endblock %}